
body{
    padding-bottom: 1000px;
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #21263E;
    height: 70px;
    z-index: 1;
}


htm{
    margin:0;
    padding:0;
}

section {
    background-color: aquamarine;
    flex:1;
}



.navigation {
    flex: 3;
    background-color: #21263E;
}

.menu-list {
    display: flex;
    justify-content: center;

}

nav .navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-top: 5px;
}

.navigation ul li a {
    padding: 20px;
    display: block;
    color: #ddd;
    text-decoration: none;
    background: #21263E;
    text-align:center;
    transition:0.2s;
}

.navigation ul li ul {
    display: none;
}




.navigation ul li:hover ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

ul li a:hover {
    background-color: #4c5dac;
    text-align: center;
    border-bottom:3px solid #08ffc5;
}


/* the code below this line is subject to change*/

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media only screen and (max-width: 768px) {
    .menu-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.7s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu-list.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 55px;
        position: relative;
        top:16px;
        margin-right:10px;
        margin-top: 5px;
    }

}



/* closing menu */

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



body {
    margin:0px;
}



#herobanner {
    height:700px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightblue; 
    background-image: url("images/woody-kelly-S2ob5zZSY9M-unsplash.jpg");
}

.one {
    border: 1px solid white;
}

.header {
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{ 
    font-size:34px;
    color:white;
}

h6{
    color:white;
    letter-spacing:2px;
}

.omen {
    display:flex;
    justify-content:space-around;
    align-items:center;

}

#inputform {
    width:620px;
    height:30px;
}

button{
    border:none;
    height:30px;
    width:120px;
    box-shadow: 5px 10px #275f7a;
    border:1px solid black;
    

}


button:hover{
    background-color:transparent;
    cursor:pointer;
    color:white;
    position:relative;
    bottom: 5px;
    border: solid 1px white;

}

#cars {
    border:none;
    height:30px;
    width:100px;
    
    
}

#cars > option:nth-child(1):hover {
    background-color: yellow;
    color: black;
}

.info{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

#switch{
    background-position: center; 
    background-size:100%;
    background-repeat: no-repeat;
    background-image: url("images/thanos-pal-61TfyNIrWmI-unsplash.jpg");

}

#switch1 {
    background-position: center;
    background-size:900px;
    background-repeat: no-repeat;
    background-image: url("images/joshua-mayo-bmj1Vl77ZWM-unsplash.jpg");
    margin:20px;
}


.tabs{
    text-decoration:none;
    font-size:25px;
    background-color:lightgrey;
    width:90px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.tabs:hover {
    background-color:white
}



.section {
    display: none;
    width: 100%;
    height: 200px;
}

#new-section {
    background-color: firebrick;
}

#new-section-two {
    background-color: purple;
}

#new-section-three {
    background-color: blue;
}

#new-section-four {
    background-color: yellow;
}
