
body{
    padding-bottom: 1000px;
    background-color: rgb(238, 156, 156);
}
nav {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: #21263E;
    height: 70px;
    z-index: 1;
    border:1px solid red;
}

section {
    background-color: aquamarine;
    flex:1;
}

.navigation {
    flex: 3;
    background-color: #21263E;
    border: 2px dotted blue;
}

.menu-list {
    border: solid 3px yellow;
    display: flex;
    justify-content: center;
}

nav .navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.navigation ul li a {
    padding: 20px;
    display: block;
    color: #ddd;
    text-decoration: none;
    background: #21263E;
    border: solid 1px red;
    text-align:center;
}

.navigation ul li ul {
    display: none;
}

.navigation ul li:hover ul {
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul li a:hover {
    background-color: #4c5dac;
    text-align: center;
}

/* the code below this line is subject to change*/

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media only screen and (max-width: 768px) {
    .menu-list {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.7s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .menu-list.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 55px;
        position: relative;
        top:16px;
        margin-right:10px;
        margin-top: 5px;
    }

}



/* closing menu */

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}




